.tela{
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: flex-start;
  background-color: #444;
  flex-direction: column;
  width: 260px;
}

.valorTela{
  font-size:25px;
  color: white;
  height: 20px;
}

.resultadoTela{
  font-size: 50px;
  color: white;
}

.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
}

.botoes{
  flex-direction: row;
  flex-wrap: wrap;
}